torch==2.1.2
transformers==4.41.2
peft==0.10.0
accelerate==0.30.1

fastapi==0.109.0
uvicorn[standard]==0.27.0
python-dotenv==1.0.0
python-multipart==0.0.6
pydantic==2.5.0
numpy==1.24.3

rdkit==2023.9.1
pennylane==0.33.0
autoray==0.6.7
sacremoses==0.0.53
